[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "deps/capnproto"]
	path = deps/capnproto
	url = https://github.com/sandstorm-io/capnproto.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/sdl2"]
	path = deps/sdl2
	url = https://github.com/spurious/SDL-mirror
[submodule "deps/Simple-OpenGL-Image-Library"]
	path = deps/Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
