[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "deps/capnproto"]
	path = deps/capnproto
	url = https://github.com/sandstorm-io/capnproto.git
[submodule "deps/SDL-mirror"]
	path = deps/sdl
	url = https://github.com/spurious/SDL-mirror
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/cef"]
	path = deps/cef
	url = https://bitbucket.org/chromiumembedded/cef.git
